.PathNotFoundScreenBox {
  position: relative;
  display: block;
  height: fit-content !important;
  /* width: 50vw; */
  width: 90%;
  /* margin-left: 25px !important; */
  /* margin-right: 25px; */
  background-color: rgb(240, 240, 240);
  border-radius: var(--standardBorderRadius);
  box-shadow: var(--standardBoxShadow);
  /* min-height: calc(48vh + 0.5vw); */
  min-height: 50vh;
  max-height: 85vh;
  margin-top: 5vh;

  h6 {
    margin-bottom: 0vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: none;
    transform: none;
  }
  h6:active, h6:hover {
    transition: none;
    transform: none;
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.PathNotFoundScreenBox_ContentBox {
  overflow: auto;
  max-height: 76vh;
  margin-bottom: 25px;
}

.PathNotFoundScreenBox_Divider {
  justify-self: center;
  margin-top: 0px;
  border: 0.1vh solid rgba(25, 50, 130, 0.1) !important;
  margin-bottom: 2vh !important;
  width: 95%;
  height: 0.01vh;
}

.PathNotFoundScreenBox_Button {
  border-radius: var(--footerButtonBorderRadius) !important;
  padding: 0px !important;
  height: 2.5vw;
  min-height: 20px;
  position: absolute !important;
  color: var(--footerColor) !important;
  bottom: 1vh;

  border-radius: var(--footerButtonBorderRadius);
  height: 2.5vw !important;
  padding: 0.5vh 2.8vw !important;
  width: 20vw;
  min-width: 150px;
  font-size: calc(var(--appOverallFontSize_h6) - 0.17vw) !important;
  transition: background-color 0.3s !important;
  background-color: var(--footerBackgroundColor_Button) !important;
  box-shadow: var(--footerBoxShadow_Button);

  span {
    border-radius: var(--footerButtonBorderRadius);
    height: 2.5vw;
  }
}

.PathNotFoundScreenBox_Button_disabled:hover {
  background-color: var(--footerBackgroundColor_Button) !important;
}

.PathNotFoundScreenBox_Button_SendReport {
  right: 2vh;
  padding: 0.5vh 1.8vw !important;
}

.PathNotFoundScreenBox_Button_SendReport:hover {
  background-color: var(--footerBackgroundColor_Proceed) !important;
}

.PathNotFoundScreenBox_Button_ReturnHome {
  left: 2vh;
}

.PathNotFoundScreenBox_Button_ReturnHome:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.PathNotFoundScreenBox_FormInput {
  position: relative;
  margin: 2vh !important;
  width: 75%;
  input {
    text-align: center;
  }
  label {
    transform-origin: center;
    right: 0px;
    bottom: 0px;
    width: 95%;
    /* height: 2vh; */
    height: fit-content;
    max-width: 95% !important;
    transition-duration: 0.3s;
  }
  label.Mui-focused {
    transform: translate(0px, -1vh), scale(0.775, 0.475) !important;
  }
}