.ViewSavedRostersPageBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ViewSavedRostersPageBox_NoRostersFound {
  
  height: fit-content !important;
  width: 50vw !important;
  background-color: rgb(240, 240, 240);
  border-radius: var(--standardBorderRadius);
  box-shadow: var(--standardBoxShadow);
  min-height: calc(3vh + 0.5vw);
  margin-top: 5vh;
  flex-direction: column;

  h6 {
    margin-bottom: 0vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: none;
    transform: none;
  }
  h6:active, h6:hover {
    transition: none;
    transform: none;
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.ViewSavedRostersPageBox_Inner {
  display: block;
  width: 90%;
}

.ViewSavedRostersPageBox_Rosters {
  height: 100%;
  width: 100%;
}

.ViewSavedRostersPageBox_ButtonBox {
  align-self: center;
}

.ViewSavedRostersPageBox_Button {
  /* position: absolute !important; */
  /* top: 50%; */
  color: var(--appOverallColor_Icon) !important;
  flex-grow: -1 !important;
  margin: auto;
  svg {
    font-size: 3.5vh; 
  }
}

.ViewSavedRostersPageBox_Button_Forward {
  /* right: 0.5vw; */
}

.ViewSavedRostersPageBox_Button_Backward {
  /* left: 0.5vw; */
}

.ViewSavedRostersPageBox_Button_Select {
  border-radius: var(--footerButtonBorderRadius) !important;
  padding: 0rem !important;
  height: 2.5vw;
  min-height: 20px;
  color: var(--footerColor) !important;
  margin: 1rem !important;

  border-radius: var(--footerButtonBorderRadius);
  padding: 0.5vh 2.8vw !important;
  width: 20vw;
  min-width: 50px;
  font-size: calc(var(--appOverallFontSize_h6) - 0.17vw) !important;
  transition: background-color 0.3s !important;
  background-color: var(--footerBackgroundColor_Button) !important;
  box-shadow: var(--footerBoxShadow_Button);

  span {
    border-radius: var(--footerButtonBorderRadius);
    height: 2.5vw;
  }
}