.SaveRosterScreenBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 2vw;

  width: 60%;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: var(--standardBorderRadius);
  box-shadow: var(--standardBoxShadow);
  min-height: calc(62vh + 0.5vw);
}

.SaveRosterScreenBox_FormInput {
  position: relative;
  margin: 2vh !important;
  width: 75%;
  input {
    text-align: center;
  }
  label {
    transform-origin: center;
    right: 0px;
    bottom: 0px;
    width: 95%;
    height: 2vh;
    max-width: 95% !important;
    transition-duration: 0.3s;
  }
  label.Mui-focused {
    transform: translate(0px, -1vh), scale(0.775, 0.475) !important;
  }
}

.SaveRosterScreenBox_Button {
  border-radius: var(--footerButtonBorderRadius) !important;
  padding: 0px !important;
  height: 2.5vw;
  /* position: absolute !important; */
  position: relative;
  color: var(--footerColor) !important;

  border-radius: var(--footerButtonBorderRadius);
  height: 2.5vw !important;
  padding: 0.5vh 2.8vw !important;
  margin: 1vh !important;
  width: 10vw;
  font-size: calc(var(--appOverallFontSize_h6) - 0.17vw) !important;
  transition: background-color 0.3s !important;
  background-color: var(--footerBackgroundColor_Button) !important;
  box-shadow: var(--footerBoxShadow_Button);


  span {
    border-radius: var(--footerButtonBorderRadius);
    height: 2.5vw;
  }
}

.SaveRosterScreenBox_Button_Back {
  position: absolute !important;
  bottom: 1vh;
  left: 1vw;
}

.SaveRosterScreenBox_Button_Back:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.SaveRosterScreenBox_Button_Save {
  padding: 0.5vh 0.0vw !important;
  /* bottom: 2vh; */
  /* right: 1vw; */
}

.SaveRosterScreenBox_Button_Save:hover {
  background-color: var(--footerBackgroundColor_Proceed) !important;
}

.SaveRosterScreenBox_Button_Download:hover {
  background-color: var(--footerBackgroundColor_Proceed) !important;
}

.SaveRosterScreenBox_Divider {
  justify-self: center;
  margin-top: 0px;
  border: 0.1vh solid rgba(25, 50, 130, 0.1) !important;
  margin-bottom: 1.3vh !important;
  margin-top: 1.3vh !important;
  width: 95%;
  height: 0.01vh;
}