.UnitDisplayBox {
  display: grid;
  grid-auto-flow: column;
  gap: 3.5vw;
  grid-template-columns: 22vw 7vw 10vw 9vw;
  width: 90% !important;
  justify-self: center;
  text-wrap: nowrap;
  
}

.UnitTypeAddingAreaBox  .UnitDisplayBox {
  & :nth-child(even) {
    background-image: none !important;
  }
}

.UnitDisplayTypography {
  text-wrap: wrap;
}