.FactionSelectorBox {
  width: 100%;
  display: inline;
  margin: 0.4vh auto;
  transition: height 2.0s ease-in-out !important;

  .FactionSelector_Dropdown {
    display: inline-block;
    margin: 1vh 0.5vh;
    transition: height 0.5s linear, width 0.5s linear, visibility 0.5s linear, opacity 0.5s linear, margin 0.5s linear;
    label {
      transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, height 0.5s linear, line-height 0.5s linear, padding 0.5s linear;
    }
    div {
      display: flex;
    }
  }
  
  .FactionSelector_Dropdown_disabled {
    visibility: hidden;
    opacity: 0;
    width: 0px !important; 
    overflow: hidden;
    transition: height 0.5s linear, width 0.5s linear, visibility 0.5s linear, opacity 0.5s linear, margin 0.5s linear;
  }

  @media screen and (width <= 520px){
    .FactionSelector_Dropdown {
      width: 100% !important;
    }
    .FactionSelector_Dropdown {
      * {
        max-height: 8vh;
        transition: height 0.5s linear, width 0.5s linear, visibility 0.5s linear, opacity 0.5s linear, margin 0.5s linear, max-height 0.5s linear;
      }
    }
    .FactionSelector_Dropdown_disabled {
      height: 0px !important;
      * {
        max-height: 0vh;
        transition: height 0.5s linear, width 0.5s linear, visibility 0.5s linear, opacity 0.5s linear, margin 0.5s linear, max-height 0.5s linear;
      }
    }
  }

  @media screen and (width > 520px){
    .FactionSelector_Dropdown {
      width: 30% !important;
    }
    .FactionSelector_Dropdown_disabled {
      margin: 1vh 0vh;
    }
  }
}

.FactionSelector_Dropdown_Item {
  height: 4vh;
}