.Sidebar {
  height: 100%;
  flex-shrink: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .MuiDrawer-paper {
    top: min(8%, 5vw);
    height: calc(100% - min(8%, 5vw) - 2.8vw + 0.2vh);
    position: absolute;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
    /* background-image: radial-gradient(white 50%, lightgrey); */
    background-image: var(--sidebarBackgroundColor);
    padding: 0.5vh;
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}