.MainContentPageOuterContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.MainContentPageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  /* top: 2%; */
  /* top: calc(min(max(5vw, 3%), 8%) + 0.2vh) !important; */
  /* max-height: calc(100% - min(max(5vw, 3%), 8%) - 2.9vw); */

  overflow: auto;

  align-items: center;

  box-shadow: var(--mainDisplayAreaBoxShadow);
  border-radius: var(--mainDisplayAreaBorderRadius);
  background-color: var(--mainDisplayAreaBackgroundColor);
  border: var(--mainDisplayAreaBorder);
  color: var(--mainDisplayAreaColor);
}